<h1>Choose an Action </h1>
<div class="backs" >
  <a href=<%= edit_info_path %>>
    <div class="button_bases b1_skewed_slide_in">
      <div> Edit profile </div>
      <div></div>
      <div> Edit profile  </div>
    </div>
  </a>
</div>
<div class="backs" >
  <a href=<%= search_admins_path %>>
    <div class="button_bases b1_skewed_slide_in">
      <div> Search admins </div>
      <div></div>
      <div>Search admins</div>
    </div>
  </a>
</div>
<div class="backs" >
  <%= link_to all_sub_admins_path do %>
      <div class="button_bases b1_skewed_slide_in">
        <div>View all admins</div>
        <div></div>
        <div>View all admins</div>
      </div>
  <% end %>
</div>
