<center>
    <style type="text/css">
        table.myTable {
            border-collapse: collapse;
        }

        table.myTable td, table.myTable th {
            border: 1px solid black;
            padding: 5px;
        }
    </style>

    <div id="generated_code">
      <%= render "generated_codes" %>
    </div>
</center>

