<h1> Users first products </h1>
<div align="center">
  <style type="text/css">
      table.myTable {
          border-collapse: collapse;
      }

      table.myTable td, table.myTable th {
          border: 1px solid black;
          padding: 5px;
      }
  </style>
  <br/>
  <div id="updated_delevierd_products">
    <%= render "deleviered_first_product" %>
  </div>
</div>
