<h1>Places</h1>

<div class="backs" >
  <a href=<%= add_country_path %>>
    <div class="button_bases b1_skewed_slide_in">
      <div>Add Country</div>
      <div></div>
      <div>Add Country</div>
    </div>
  </a>
</div>
<div class="backs" >
  <a href=<%= add_governorate_path %>>
    <div class="button_bases b1_skewed_slide_in">
      <div>Add Governorate</div>
      <div></div>
      <div>Add Governorate</div>
    </div>
  </a>
</div>
<div class="backs" >
  <a href=<%= add_region_path %>>
    <div class="button_bases b1_skewed_slide_in">
      <div>Add Region</div>
      <div></div>
      <div>Add Region</div>
    </div>
  </a>
</div>
<div class="backs" >
  <a href=<%= countries_path %>>
    <div class="button_bases b1_skewed_slide_in">
      <div>Edit places</div>
      <div></div>
      <div>Edit places</div>
    </div>
  </a>
</div>
